<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
      <style>
        body {
          
        }
        
    </style>
    <script language="javascript" src="script.js">
      
    </script>
  </head>
  <body style="background-color:black;">
    <br><br><br><br><br><br><br><br>
    <center>
      <p id="p1" style="color:white;font-family: 'Quicksand';font-size: 100px;"> yuckrabos </p>
      
      
      <p id ="p2" style="color:#c5c5c6;font-family: 'Quicksand';font-size:37px;">currently under maintenance </p>
      <form method="POST"></form>
      
      <input type = "password" id="inputText1" name="inputText1"></input>
      <button id="btn1" onclick="btn1click()">Login</button>

      <hr size="3" noshade color="grey">
      <a style="color:#c5c5c6; font-family: 'Quicksand'; font-size:25px " href="Berkay_Ozdemir_cv.pdf"></a>
      <br><br>
      <a style="color:#c5c5c6; font-family: 'Quicksand'; font-size:10px " href="/files"></a>
    </center>
  </body>
</html>
